torch
torchvision
torchaudio
torch-geometric
transformers
accelerate
peft
datasets
networkx
matplotlib
graphviz
deepspeed
openai
jsonlines
tqdm
numpy
pandas
scikit-learn
Pillow
sentencepiece
pygraphviz
pydot
sentence-transformers
trl
